/* css syntax */
h1{
    /* color: red; */
    /* background: black; */
}
span{
    /* background: aqua; */
}
/* universal selector */
*{
    /* margin: 40px; */
    /* color: chocolate; */
    /* background: #000; */
}
/* type selector */
p{
    /* background: #e27878; */
}

/* class selector */
.title{
    /* font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue; */
}

/* id selector */
#unique{
    /* background-color: chartreuse; */
}
#smallTitle{
    /* font-weight: 600;
    color: black; */
}

/* group selector */
h1,h3,span{
    /* color: yellow;
    background-color: aqua; */
}

/* child selector */
ul li{
    /* color: purple; */
}
.list-1 li{
    /* color: red; */
}
.list-2>li{
    /* color: aqua; */
}
ul > li{
    /* background: #000; */
}

/* text styling in css */
.textstyle{
    color: aqua;
    background-color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    line-height: 30px;
}

/* box model */
.parent{
    background: #c45353;
    width: 300px;
    height: 400px;
    border: 5px dotted blue;

}
.child1,.child2,.child3{
    background: blue;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    margin: 30px;
}
.solidbg{
    background-color:  black;
    width: 200px;
    height: 200px;

}
.imagebg{
    width: 200px;
    height: 200px;
    border: 2px solid green;
    background-image: url(./images/flower.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gradientbg{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, red,blue);
}

/* css color  */
.css-colors h1{
    color: red;
}
.css-colors h2{
    color: #cfbdd3;
}
.css-colors h3{
    /* color: rgb(255,0,0); */
    color: rgb(0,255,0);
}
.css-colors h4{
    color: rgba(255,0,0,0.7);
    background-color: rgba(0,0,250.1);
}


/* css image */
.css-image img{
    width: 300px;
    height: auto;
    border: 3px solid red;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px green;
}
.css-image img:hover{
    border-color: green;
}

/* css buttons */
.css-btn{
    background: #000;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.css-btn button{
    width: 100px;
    height: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
#btn1{
    color: red;
}
#btn2{
    color:  green;
}
#btn3{
    color: blue;
}
.css-btn button:hover{
    background: white;
}

/* links in css */
.css-links{
    background: #b8b6b6;
}
.css-links a{
    text-decoration:none;
    color: black;
}
.css-links a:hover{
    color: red;
    text-decoration: underline;
}
.css-links a:visited{
    color: blue;
}

/* css margin and padding */
.css-m-p{
    background: #85de7b;
    width: 300px;
    height: auto;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}
.css-m-p .box-1,.box-2{
    width: 200px;
    height: 70px;
    background: #000;
    color: white;
    border: 2px solid white;
    margin-top: 20px;
    padding: 10px;
}

/* css display */
.css-display h1{
    background: #a19e9e;
    display: inline;
}

/* css position */
.css-position{
    width: 400px;
    height: 200px;
    background: #ef66d1;
}
.css-position .box1,.box2,.box3{
    width: 50px;
    height: 50px;
    background: #eae8e8;
    color: #000;
    border: 2px solid red;
    font-size: 10px;
}
.css-position .box1{
    position: absolute;
    top: 100px;
    left: 200px;
    
}
.css-position .box2{
    position: relative;
    top: 100px;
    left: 100px;
}
.css-position .box3{
    position: fixed;
    top: 200px;

    z-index: 3;
}

/* flexbox */ 

.flexbox{
    width: 400px;
    height: 300px;
    background: #d0f74f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.flexbox > .box--1,.box--2,.box--3{
    width: 100px;
    height: 100px;
    background: #07fc1b;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}