/* css syntax */
h1{
    /* color: red; */
    /* background: black; */
}
span{
    /* background: aqua; */
}
/* universal selector */
*{
    /* margin: 40px; */
    /* color: chocolate; */
    /* background: #000; */
}
/* type selector */
p{
    /* background: #e27878; */
}

/* class selector */
.title{
    /* font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue; */
}

/* id selector */
#unique{
    /* background-color: chartreuse; */
}
#smallTitle{
    /* font-weight: 600;
    color: black; */
}

/* group selector */
h1,h3,span{
    /* color: yellow;
    background-color: aqua; */
}

/* child selector */
ul li{
    /* color: purple; */
}
.list-1 li{
    /* color: red; */
}
.list-2>li{
    /* color: aqua; */
}
ul > li{
    /* background: #000; */
}